h1 {
  color:#FFFFFF;
  font-size: 80px;
  font-family:"Bradley Hand Bold";
  margin-bottom: : 0;
}


  #grandtitre {
    background-image:url(car.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;

  }

p{
    font-size: 20px;
    color:#FFFFFF;

}
