h1 {
  font-size: 100px;
  margin: 0;
}


  #grandtitre {
    background-image:url(car.jpg);
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family:"Bradley Hand Bold";
    color:#FFFFFF;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
  }

p {
    font-size: 40px;
    margin : 0;
}
